<!DOCTYPE html>
<html>
<head>
  <title>{{produto.name}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="product-title">{{produto.name}}</h1>
  <div class="product-details">
    <img src="{{produto.image}}" alt="{{produto.name}}" class="product-image">
    <p class="product-price">Preço: R$ {{produto.price}}</p>
    <a href="/" class="back-button">Voltar para a lista de produtos</a>
  </div>
</body>
</html>
